           <!-- Content Wrapper. Contains page content -->
           <!-- <div class="content-wrapper"> -->
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Category Edition</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Category Edition</li>
                        </ol>
                    </div>
                    </div>
                </div><!-- /.container-fluid -->
                </section>
    
                <!-- Main content -->
                <section class="content">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                    <div class="col-10 ">
                        <!-- style="max-width: 540px;" -->
                        <div class="card " >
                            <div class="row">
                        
                                    <div class="col-12">
                                        <div class="card-body">
                                            
                                            <div class="mb-1">
                                                <label for="categoryId" class="form-label">Id</label>
                                                <input type="text"
                                                    class="form-control mb-2" name="categoryId" id="categoryId" placeholder="Enter Category Id">            
                                                
                                                <label for="categoryName" class="form-label">Name</label>
                                                <input type="text" class="form-control mb-2" name="categoryName" id="categoryName" placeholder="Category Name">
                    
                                                <label for="categoryDescription" class="form-label">Description</label>
                                                <input type="text"
                                                    class="form-control mb-2" name="categoryDescription" id="categoryDescription" placeholder="Enter your Description">
    
                                                <label for="categoryStatus" class="form-label">Status</label>
                                                <select class="form-control select2" style="width: 100%;">
                                                    <option selected="selected">Alabama</option>
                                                    <option>Alaska</option>
                                                    <option>California</option>
                                                    <option>Delaware</option>
                                                    <option>Tennessee</option>
                                                    <option>Texas</option>
                                                    <option>Washington</option>
                                                  </select>
                                            
                                            </div>
                                        </div>
                                    </div>
                            </div><hr>
                            <div class="row mx-2 mb-2">
                                <div class="col-12 d-flex flex-wrap justify-content-end">
                                    <button type="button" class="btn btn-primary mx-2">Save</button>
                                    <button type="button" class="btn btn-primary mx-2">Update</button>
                                    <button type="button" class="btn btn-primary mx-2">Delete</button>
                                
                                </div>
                                
                                
                            </div>
    
                                
    
                            
                        </div>
    
                    </div>
                    <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            <!-- </div> -->
            <!-- /.content-wrapper -->