<!-- <nz-spin [nzSpinning]="isSpinning" nzTip="Loading..." > -->
<!-- <div *ngIf="isSpinning"> -->
  
<!-- </div> -->

<!-- Content Wrapper. Contains page content -->
<!-- <div class="content-wrapper"> -->
<!-- Content Header (Page header) -->
<section *ngIf="!isSpinning" [@fadeIn]="!isSpinning" class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Category Edition</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Category Edition</li>
        </ol>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!-- <mat-spinner *ngIf="isSpinning" mode="indeterminate"></mat-spinner> -->

  <mat-spinner class="custom-spinner spinner-element" *ngIf="isSpinning" [@fadeInOut]="isSpinning" mode="indeterminate">Loading</mat-spinner>
  <div *ngIf="isSuccessIn" [@fadeInOut]="isSuccessIn" class="alert alert-success" role="alert">
    Create Success
  </div>
  <div *ngIf="isSuccessUp" [@fadeInOut]="isSuccessUp" class="alert alert-success" role="alert">
    Update Success
  </div>
  <div *ngIf="isSuccessDel" [@fadeInOut]="isSuccessDel" class="alert alert-success" role="alert">
    Delete Success
  </div>

  <div *ngIf="isFailureIn" [@fadeInOut]="isFailureIn" class="alert alert-danger" role="alert">
    Create Failure
  </div>
  <div *ngIf="isFailureUp" [@fadeInOut]="isFailureUp" class="alert alert-danger" role="alert">
    Update Failure
  </div>
  <div *ngIf="isFailureDel" [@fadeInOut]="isFailureDel" class="alert alert-danger" role="alert">
    Delete Failure
  </div>
<!-- Main content -->
<section *ngIf="!isSpinning" [@fadeIn]="!isSpinning" class="content">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-10">
        <!-- style="max-width: 540px;" -->
        <form class="card" [formGroup]="infoCategory" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-12">
              <div class="card-body">
                <div class="mb-1">
                  <label for="id" hidden class="form-label">Id</label>
                  <input
                  hidden
                    readonly
                    formControlName="id"
                    type="text"
                    class="form-control mb-2"
                    name="id"
                    id="id"
                    placeholder="Enter Category Id"
                  />
                  <label for="name" class="form-label">Name</label>
                  <input
                    formControlName="name"
                    type="text"
                    class="form-control mb-2"
                    name="name"
                    id="name"
                    placeholder="Category Name"
                  />
                  <div
                    *ngIf="
                      infoCategory.controls['name'].invalid &&
                      infoCategory.controls['name'].touched
                    "
                    class="text-danger"
                  >
                    Category Name is required.
                  </div>

                  <label for="description" class="form-label"
                    >Description</label
                  >
                  <input
                    formControlName="description"
                    type="text"
                    class="form-control mb-2"
                    name="description"
                    id="description"
                    placeholder="Enter your Description"
                  />
                  <div
                    *ngIf="
                      infoCategory.controls['description'].invalid &&
                      infoCategory.controls['description'].touched
                    "
                    class="text-danger"
                  >
                    Category Description is required.
                  </div>

                  <label for="categoryStatus" class="form-label">Status</label>
                  <select
                    formControlName="status"
                    class="form-control select2"
                    style="width: 100%"
                  >
                    <option value="ACTIVE">ACTIVE</option>
                    <option value="INACTIVE">INACTIVE</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <hr />
          <div class="row mx-2 mb-2">
            <div class="col-12 d-flex flex-wrap justify-content-end">
              <button
                (click)="fnAddCategory()"
                [disabled]="ButtonSave"
                type="button"
                class="btn btn-primary mx-2"
              >
                Save
              </button>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary" data-toggle="modal" [disabled]="ButtonUpdate" data-target="#staticBackdropUp">
                Update
              </button>

              <!-- Modal -->
              <div class="modal fade" id="staticBackdropUp" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="modal-title" id="staticBackdropLabel"><b>Update Category</b></h2>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Bạn muốn cập nhật lại thông tin phụ kiện này {{infoCategory.value.name}}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" (click)="fnUpdateCategory()" data-dismiss="modal" class="btn btn-primary">Confirm</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <button
                (click)="fnDeleteCategory()"
                [disabled]="ButtonDelete"
                type="button"
                class="btn btn-primary mx-2"
              >
                Delete
              </button> -->
              <button type="button" class="btn btn-primary mx-2" [disabled]="ButtonDelete" data-toggle="modal" [disabled]="ButtonDelete" data-target="#staticBackdropDel">
                Delete
              </button>
               <!-- Modal -->
               <div class="modal fade" id="staticBackdropDel" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h2 class="modal-title" id="staticBackdropLabel"><b>Delete Category</b></h2>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Bạn muốn xóa lại thông tin phụ kiện này {{infoCategory.value.name}}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" (click)="fnDeleteCategory()" data-dismiss="modal" class="btn btn-danger">Confirm</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- </div> -->
<!-- /.content-wrapper -->
<!-- </nz-spin> -->
