<!-- Content Wrapper. Contains page content -->
<!-- <div class="content-wrapper"> -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Product List</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">


                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Danh Sách Sản Phẩm</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <!-- <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped row-border hover" > -->
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Name</th>
                                    <th>Model</th>
                                    <th>Price</th>
                                    <th>Create Date</th>
                                    <th>Update Date</th>
                                    <th>Description</th>
                                    <th>Discount</th>
                                    <th>Discount Price</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                    <th>Action</th>
                                    <!-- <th>Category Id</th>
                                    <th>Brand Id</th>
                                    <th>Origin Id</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of products">
                                    <td>{{product.id}}</td>
                                    <td>{{product.name}}</td>
                                    <td>{{product.Model}}</td>
                                    <td>{{product.price}}</td>
                                    <td>{{product.create_date}}</td>
                                    <td>{{product.update_date}}</td>
                                    <td>{{product.Description}}</td>
                                    <td>{{product.Discount}}</td>
                                    <td>{{product.discount_price}}</td>
                                    <td>{{product.status}}</td>
                                    <td>
                                        <button class="btn btn-info" (click)="onUpdate(product.id)">Update</button>
                                    </td>
                                    <td>
                                        <button (click)="deleteProduct(product.id)" class="btn btn-warning">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- </div> -->
<!-- /.content-wrapper -->