<!-- Content Wrapper. Contains page content -->
<!-- <div class="content-wrapper"> -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Product Edition</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Product Edition</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-10 " action="myForm">
                <!-- style="max-width: 540px;" -->
                <form class="card " [formGroup]="productForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group card-body">
                                <div class="mb-1">
                                    <div>
                                        <label for="Name" class="form-label">Tên Sản Phẩm</label>
                                        <input type="text" class="form-control mb-2" formControlName="name" placeholder="Tên sản phẩm">
                                        <div *ngIf="
                                                    productForm.controls['name'].invalid &&
                                                    productForm.controls['name'].touched
                                                    " class="text-danger">
                                            Tên sản phẩm rổng.
                                        </div>
                                    </div>
                                    <div>
                                        <label for="model" class="form-label">Model Sản Phẩm</label>
                                        <input class="form-control mb-2" formControlName="model" placeholder="Model sản phẩm">
                                        <div *ngIf="
                                                    productForm.controls['model'].invalid &&
                                                    productForm.controls['model'].touched
                                                    " class="text-danger">
                                            Model sản phẩm rổng.
                                        </div>
                                    </div>
                                    <div>
                                        <label for="price" class="form-label">Giá Sản Phẩm</label>
                                        <input class="form-control mb-2" formControlName="price" placeholder="Giá sản phẩm">
                                        <div *ngIf="
                                                    productForm.controls['price'].invalid &&
                                                    productForm.controls['price'].touched
                                                    " class="text-danger">
                                            Giá sản phẩm rổng.
                                        </div>
                                    </div>
                                    <div>
                                        <label for="stockQuantity" class="form-label">Số Lượng</label>
                                        <input class="form-control mb-2" formControlName="stockQuantity" placeholder="Số lượng">
                                        <div *ngIf="
                                                    productForm.controls['stockQuantity'].invalid &&
                                                    productForm.controls['stockQuantity'].touched
                                                    " class="text-danger">
                                            Tên sản phẩm rổng.
                                        </div>
                                    </div>
                                    <div>
                                        <label for="description" class="form-label">Mô Tả Sản Phẩm</label>
                                        <input class="form-control mb-2" formControlName="description" placeholder="Mô Tả sản phẩm">
                                        <div *ngIf="
                                                    productForm.controls['description'].invalid &&
                                                    productForm.controls['description'].touched
                                                    " class="text-danger">
                                            Mô tả sản phẩm rổng.
                                        </div>
                                    </div>
                                    <div>
                                        <label for="discount" class="form-label">Giảm giá</label>
                                        <input class="form-control mb-2" formControlName="discount" placeholder="Giảm giá">
                                        <div *ngIf="
                                        productForm.controls['discount'].invalid &&
                                        productForm.controls['discount'].touched
                                        " class="text-danger">
                                            Giảm giá sản phẩm rổng.
                                        </div>
                                    </div>
                                    <div>
                                        <label for="discountPrice" class="form-label">Số tiền giảm</label>
                                        <input class="form-control mb-2" formControlName="discountPrice" placeholder="Giá tiền Giảm">
                                        <div *ngIf="
                                        productForm.controls['discountPrice'].invalid &&
                                        productForm.controls['discountPrice'].touched
                                        " class="text-danger">
                                            Giảm giá sản phẩm rổng.
                                        </div>
                                    </div>
                                    <div>
                                        <label for="status" class="form-label">Trạng Thái</label>
                                        <input class="form-control mb-2" formControlName="status" placeholder="Trạng thái">
                                        <div *ngIf="
                                        productForm.controls['status'].invalid &&
                                        productForm.controls['status'].touched
                                        " class="text-danger">
                                            Giảm giá sản phẩm rổng.
                                        </div>
                                    </div>
                                    <!-- ... Các trường khác ... -->

                                </div>
                                <hr>
                                <div class="row mx-2 mb-2">
                                    <div class="col-12 d-flex flex-wrap justify-content-end">
                                        <button type="submit" class="btn btn-warning" (click)="onSubmit">Thêm Sản Phẩm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>


            </div>

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- </div> -->
<!-- /.content-wrapper -->